# LAB ‚Äî Nivel-0

## üü¶ FASE 1 ‚Äî Capa RAW

In [15]:
# parquet to CSV
import pandas as pd
df = pd.read_parquet('yellow_tripdata_2024-01.parquet')
df.to_csv('yellow_tripdata_2024-01.csv', index=False)

In [9]:
%%bash
# Prueba de conexi√≥n
psql postgresql://root:root@localhost:5432/ny_taxi -c "SELECT 1;"

 ?column?
----------
        1
(1 row)

In [10]:
%%bash
# Crear esquema RAW
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
CREATE SCHEMA IF NOT EXISTS raw;
SQL

CREATE SCHEMA

In [11]:
%%bash
# Crear tabla RAW
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
DROP TABLE IF EXISTS raw.yellow_taxi_raw;

CREATE TABLE raw.yellow_taxi_raw (
    vendor_id             TEXT,
    pickup_datetime       TEXT,
    dropoff_datetime      TEXT,
    passenger_count       TEXT,
    trip_distance         TEXT,
    ratecode_id           TEXT,
    store_and_fwd_flag    TEXT,
    pulocation_id         TEXT,
    dolocation_id         TEXT,
    payment_type          TEXT,
    fare_amount           TEXT,
    extra                 TEXT,
    mta_tax               TEXT,
    tip_amount            TEXT,
    tolls_amount          TEXT,
    improvement_surcharge TEXT,
    total_amount          TEXT,
    congestion_surcharge  TEXT,
    airport_fee           TEXT
);
SQL

NOTICE:  table "yellow_taxi_raw" does not exist, skipping

DROP TABLE
CREATE TABLE

In [20]:
%%bash
# Cargar CSV a raw.yellow_taxi_raw 
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
\timing
\copy raw.yellow_taxi_raw FROM 'yellow_tripdata_2024-01.csv' CSV HEADER;
SQL

Timing is on.
COPY 2964624
Time: 19443.124 ms (00:19.443)

In [21]:
%%bash
# Validaci√≥n m√≠nima
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
SELECT COUNT(*) FROM raw.yellow_taxi_raw;
SQL

  count
---------
 2964624
(1 row)

## üü© FASE 2 ‚Äî Modelo Relacional (CURATED)

In [25]:
%%bash
# Crear esquema CURATED
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
CREATE SCHEMA IF NOT EXISTS curated;
SQL

NOTICE:  schema "curated" already exists, skipping

CREATE SCHEMA

In [26]:
%%bash
# Crear tabla con definici√≥n de tipos de datos correctos
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
DROP TABLE IF EXISTS curated.trip CASCADE;

CREATE TABLE curated.trip (
    trip_id BIGSERIAL PRIMARY KEY,
    vendor_id INTEGER,
    pickup_datetime TIMESTAMP,
    dropoff_datetime TIMESTAMP,
    passenger_count INTEGER,
    trip_distance NUMERIC,
    fare_amount NUMERIC,
    tip_amount NUMERIC,
    total_amount NUMERIC,
    pulocation_id INTEGER,
    dolocation_id INTEGER
);
SQL

NOTICE:  table "trip" does not exist, skipping

DROP TABLE
CREATE TABLE

In [27]:
%%bash
# Inserci√≥n de registros desde RAW a CURATED (error pedag√≥gico al intentar insertar un text "1.0" en un campo integer)
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
INSERT INTO curated.trip (
    vendor_id,
    pickup_datetime,
    dropoff_datetime,
    passenger_count,
    trip_distance,
    fare_amount,
    tip_amount,
    total_amount,
    pulocation_id,
    dolocation_id
)
SELECT
    vendor_id::INTEGER,
    pickup_datetime::TIMESTAMP,
    dropoff_datetime::TIMESTAMP,
    passenger_count::INTEGER,
    trip_distance::NUMERIC,
    fare_amount::NUMERIC,
    tip_amount::NUMERIC,
    total_amount::NUMERIC,
    pulocation_id::INTEGER,
    dolocation_id::INTEGER
FROM raw.yellow_taxi_raw;
SQL

ERROR:  invalid input syntax for type integer: "1.0"

%%bash
# # Inserci√≥n de registros desde RAW a CURATED (correcto con conversi√≥n de text a numeric y luego a integer)
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
\timing
INSERT INTO curated.trip (
    vendor_id,
    pickup_datetime,
    dropoff_datetime,
    passenger_count,
    trip_distance,
    fare_amount,
    tip_amount,
    total_amount,
    pulocation_id,
    dolocation_id
)
SELECT
    vendor_id::INTEGER,
    pickup_datetime::TIMESTAMP,
    dropoff_datetime::TIMESTAMP,
    passenger_count::NUMERIC::INTEGER,
    trip_distance::NUMERIC,
    fare_amount::NUMERIC,
    tip_amount::NUMERIC,
    total_amount::NUMERIC,
    pulocation_id::INTEGER,
    dolocation_id::INTEGER
FROM raw.yellow_taxi_raw;
SQL

In [31]:
%%bash
# Validaci√≥n
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
SELECT COUNT(*) FROM curated.trip;
SQL

  count
---------
 2964624
(1 row)

## üü® FASE 3 ANALYTICS ‚Äî EDA, √çndices y Performance

In [4]:
%load_ext sql
# Conexi√≥n
%sql postgresql://root:root@localhost:5432/ny_taxi

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://root:***@localhost:5432/ny_taxi'

In [40]:
%%sql
-- #EDA b√°sico al campo pickup_datetime (ac√° se usa JupySQL)
SELECT
    COUNT(*) AS total_trips,
    MIN(pickup_datetime),
    MAX(pickup_datetime)
FROM curated.trip;

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

1 rows affected.

+-------------+---------------------+---------------------+
| total_trips |         min         |         max         |
+-------------+---------------------+---------------------+
|   2964624   | 2002-12-31 22:59:39 | 2024-02-01 00:01:15 |
+-------------+---------------------+---------------------+

In [41]:
%%sql
-- Ingresos por d√≠a
SELECT
    DATE(pickup_datetime) AS day,
    SUM(total_amount) AS revenue
FROM curated.trip
GROUP BY day
ORDER BY day;

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

35 rows affected.

+------------+------------+
|    day     |  revenue   |
+------------+------------+
| 2002-12-31 |    0.0     |
| 2009-01-01 |   127.69   |
| 2023-12-31 |   224.62   |
| 2024-01-01 | 2442843.25 |
| 2024-01-02 | 2282196.02 |
| 2024-01-03 | 2357588.48 |
| 2024-01-04 | 2800511.06 |
| 2024-01-05 | 2728672.52 |
| 2024-01-06 | 2436272.32 |
| 2024-01-07 | 1898102.16 |
+------------+------------+
Truncated to displaylimit of 10.

In [44]:
%%sql
-- Creaci√≥n de indice (en capa curated)
CREATE INDEX idx_trip_pickup_datetime
ON curated.trip (pickup_datetime);

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

RuntimeError: (psycopg2.errors.DuplicateTable) relation "idx_trip_pickup_datetime" already exists

[SQL: CREATE INDEX idx_trip_pickup_datetime
ON curated.trip (pickup_datetime);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [43]:
%%sql
-- Explicaci√≥n de ejecuci√≥n de la consulta SQL (rendimiento)
EXPLAIN ANALYZE
SELECT *
FROM curated.trip
WHERE pickup_datetime >= '2024-01-15';

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

5 rows affected.

+------------------------------------------------------------------------------------------------------------------+
|                                                    QUERY PLAN                                                    |
+------------------------------------------------------------------------------------------------------------------+
| Seq Scan on trip  (cost=0.00..73588.80 rows=1680424 width=63) (actual time=97.290..270.436 rows=1678072 loops=1) |
|                  Filter: (pickup_datetime >= '2024-01-15 00:00:00'::timestamp without time zone)                 |
|                                          Rows Removed by Filter: 1286552                                         |
|                                             Planning Time: 0.353 ms                                              |
|                                            Execution Time: 327.071 ms                                            |
+------------------------------------------------------------------------------------------------------------------+

## üüß FASE 4 ‚Äî Preparaci√≥n para OLAP-Parte-1

In [ ]:
# Explicaci√≥n de OLAP a traves de todo el path

## üüß FASE 4 ‚Äî Preparaci√≥n para OLAP-Parte-2

In [45]:
%%bash
# Creaci√≥n de tabla taxi_zone_lookup
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
CREATE TABLE IF NOT EXISTS raw.taxi_zone_lookup (
    location_id   INTEGER,
    borough       TEXT,
    zone_name     TEXT,
    service_zone  TEXT
);

bash: line 8: warning: here-document at line 2 delimited by end-of-file (wanted `SQL')

CREATE TABLE

In [46]:
%%bash
# Cargar csv a tabla en RAW
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
\copy raw.taxi_zone_lookup FROM 'taxi_zone_lookup.csv'CSV HEADER;
SQL

COPY 265

In [47]:
%%sql
-- Ac√° se usa JupySQL (esto requiere el primer script que hay en FASE 3 sobre conexi√≥n)
SELECT * FROM raw.taxi_zone_lookup
LIMIT 10

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

10 rows affected.

+-------------+---------------+-------------------------+--------------+
| location_id |    borough    |        zone_name        | service_zone |
+-------------+---------------+-------------------------+--------------+
|      1      |      EWR      |      Newark Airport     |     EWR      |
|      2      |     Queens    |       Jamaica Bay       |  Boro Zone   |
|      3      |     Bronx     | Allerton/Pelham Gardens |  Boro Zone   |
|      4      |   Manhattan   |      Alphabet City      | Yellow Zone  |
|      5      | Staten Island |      Arden Heights      |  Boro Zone   |
|      6      | Staten Island | Arrochar/Fort Wadsworth |  Boro Zone   |
|      7      |     Queens    |         Astoria         |  Boro Zone   |
|      8      |     Queens    |       Astoria Park      |  Boro Zone   |
|      9      |     Queens    |        Auburndale       |  Boro Zone   |
|      10     |     Queens    |       Baisley Park      |  Boro Zone   |
+-------------+---------------+-------------------------+--------------+
Truncated to displaylimit of 10.

In [48]:
%%sql
-- Crear vista ZONE solo con campos necesarios
CREATE OR REPLACE VIEW curated.zone AS
SELECT
    location_id,
    zone_name,
    borough
FROM raw.taxi_zone_lookup;

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

++
||
++
++

In [49]:
%%sql
-- Consulta a la vista creada
SELECT * FROM curated.zone
LIMIT 10

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

10 rows affected.

+-------------+-------------------------+---------------+
| location_id |        zone_name        |    borough    |
+-------------+-------------------------+---------------+
|      1      |      Newark Airport     |      EWR      |
|      2      |       Jamaica Bay       |     Queens    |
|      3      | Allerton/Pelham Gardens |     Bronx     |
|      4      |      Alphabet City      |   Manhattan   |
|      5      |      Arden Heights      | Staten Island |
|      6      | Arrochar/Fort Wadsworth | Staten Island |
|      7      |         Astoria         |     Queens    |
|      8      |       Astoria Park      |     Queens    |
|      9      |        Auburndale       |     Queens    |
|      10     |       Baisley Park      |     Queens    |
+-------------+-------------------------+---------------+
Truncated to displaylimit of 10.

In [52]:
%%sql
-- Crea vista VENDOR a partir de curated.trip
CREATE OR REPLACE VIEW curated.vendor AS
SELECT DISTINCT
    vendor_id,
    CASE vendor_id
        WHEN 1 THEN 'Creative Mobile'
        WHEN 2 THEN 'VeriFone'
        ELSE 'Unknown'
    END AS vendor_name
FROM curated.trip;

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

++
||
++
++

In [54]:
%%sql
-- Consulta a vista creada
SELECT * FROM curated.vendor order by 1
LIMIT 10

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

3 rows affected.

+-----------+-----------------+
| vendor_id |   vendor_name   |
+-----------+-----------------+
|     1     | Creative Mobile |
|     2     |     VeriFone    |
|     6     |     Unknown     |
+-----------+-----------------+

In [1]:
%%bash
# Creaci√≥n de view vw_trip_denorm Vista denormalizada
psql postgresql://root:root@localhost:5432/ny_taxi <<'SQL'
CREATE OR REPLACE VIEW curated.vw_trip_denorm AS
SELECT
    t.trip_id,
    DATE(t.pickup_datetime) AS pickup_date,
    EXTRACT(HOUR FROM t.pickup_datetime) AS pickup_hour,
    t.trip_distance,
    t.total_amount,
    v.vendor_name,
    z.zone_name  AS pickup_zone,
    z.borough   AS pickup_borough
FROM curated.trip t
LEFT JOIN curated.vendor v
       ON t.vendor_id = v.vendor_id
LEFT JOIN curated.zone z
       ON t.pulocation_id = z.location_id;

bash: line 17: warning: here-document at line 2 delimited by end-of-file (wanted `SQL')

CREATE VIEW

In [5]:
%%sql
-- Consulta a vista creada (se debe ejecutar conexi√≥n para cuando se vuelva a ejecutar el comando luego de volver a encender la maquina virtual) 
SELECT * FROM curated.vw_trip_denorm
LIMIT 10

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

10 rows affected.

+---------+-------------+-------------+---------------+--------------+-----------------+------------------------------+----------------+
| trip_id | pickup_date | pickup_hour | trip_distance | total_amount |   vendor_name   |         pickup_zone          | pickup_borough |
+---------+-------------+-------------+---------------+--------------+-----------------+------------------------------+----------------+
| 2964626 |  2024-01-01 |     0.0     |      1.72     |     22.7     |     VeriFone    | Penn Station/Madison Sq West |   Manhattan    |
| 2964627 |  2024-01-01 |     0.0     |      1.8      |    18.75     | Creative Mobile |       Lenox Hill East        |   Manhattan    |
| 2964628 |  2024-01-01 |     0.0     |      4.7      |     31.3     | Creative Mobile |    Upper East Side North     |   Manhattan    |
| 2964629 |  2024-01-01 |     0.0     |      1.4      |     17.0     | Creative Mobile |         East Village         |   Manhattan    |
| 2964630 |  2024-01-01 |     0.0     |      0.8      |     16.1     | Creative Mobile |             SoHo             |   Manhattan    |
| 2964631 |  2024-01-01 |     0.0     |      4.7      |     41.5     | Creative Mobile |       Lower East Side        |   Manhattan    |
| 2964632 |  2024-01-01 |     0.0     |     10.82     |    64.95     |     VeriFone    |      LaGuardia Airport       |     Queens     |
| 2964633 |  2024-01-01 |     0.0     |      3.0      |     30.4     | Creative Mobile |  West Chelsea/Hudson Yards   |   Manhattan    |
| 2964634 |  2024-01-01 |     0.0     |      5.44     |     36.0     |     VeriFone    |        Midtown Center        |   Manhattan    |
| 2964635 |  2024-01-01 |     0.0     |      0.04     |     8.0      |     VeriFone    |   Greenwich Village North    |   Manhattan    |
+---------+-------------+-------------+---------------+--------------+-----------------+------------------------------+----------------+
Truncated to displaylimit of 10.

In [6]:
%%sql
-- Creaci√≥n de vista materializada. View Materialized mv_daily_zone(Pre-c√°lculo OLAP b√°sico)
CREATE MATERIALIZED VIEW curated.mv_daily_zone AS
SELECT
    DATE(pickup_datetime) AS pickup_date,
    pulocation_id,
    COUNT(*)              AS trips,
    SUM(total_amount)     AS revenue
FROM curated.trip
GROUP BY
    DATE(pickup_datetime),
    pulocation_id;

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

6966 rows affected.

++
||
++
++

In [7]:
%%sql
-- Consulta a tabla creada
SELECT * FROM curated.mv_daily_zone 
LIMIT 10

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

10 rows affected.

+-------------+---------------+-------+----------+
| pickup_date | pulocation_id | trips | revenue  |
+-------------+---------------+-------+----------+
|  2024-01-21 |       41      |  218  | 4247.97  |
|  2024-01-10 |      210      |   6   |  279.0   |
|  2024-01-31 |       14      |   10  |  524.95  |
|  2024-01-29 |       35      |   17  |  626.48  |
|  2024-01-20 |       79      |  4473 | 94645.55 |
|  2024-01-09 |       28      |   19  | 1050.00  |
|  2024-01-08 |      137      |  914  | 19275.47 |
|  2024-01-24 |      182      |   9   |  331.94  |
|  2024-01-15 |       50      |  499  | 10518.59 |
|  2024-01-04 |      117      |   12  |  560.35  |
+-------------+---------------+-------+----------+
Truncated to displaylimit of 10.